{% extends "TrainingBundle::layout.html.twig" %}


{% block head_title %}
    Training Session
{% endblock %}

{% block head_css %}
    {{ parent() }}
{% stylesheets
    '@TrainingBundle/Resources/public/css/global.css'
%}
<link rel="stylesheet"  href="{{ asset_url }}" >
{% endstylesheets %}
{% endblock %}

{% block body %}


    <form id="behavior-form" action="{{ path('newBehavior') }}" method="post" {{ form_enctype(behaviorForm) }} novalidate>
           <fieldset>
               {{ form_widget(behaviorForm) }}
               </fieldset>
           <input type="submit" value="Submit" />
    </form>

{% endblock %}

{% block body_js %}
    {{ parent() }}
    <script type="text/javascript">
            $('.date').datepicker({ dateFormat: 'dd-mm-yy' });
    </script>
{% endblock %}
