{% extends "TrainingBundle::layout.html.twig" %}


{% block head_title %}
    Manage Profile
{% endblock %}

{% block head_css %}
    {{ parent() }}
{% stylesheets
    '@TrainingBundle/Resources/public/css/global.css'
%}
<link rel="stylesheet"  href="{{ asset_url }}" >
{% endstylesheets %}
{% endblock %}

{% block body %}


    <ul>
        <li><a href="{{ path('newDog') }}">Add a new dog</a></li>
    {% for dog in dogs %}
        <li><a href="{{ path('editDog', {'id':dog.id}) }}">{{ dog.name }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}

{% block body_js %}
    {{ parent() }}

{% endblock %}
